@keyframes slidein {
    0% {
      transform: translateX(280px);
      opacity: 0;
    }
    30% {
        opacity: 0%;
      }
    100% {
      transform: translateX(0);
      opacity: 100%;
    }
  }

  @keyframes slideleft {
    0% {
      transform: translateX(500px) translateY(-500px);
    }
    100% {
      transform: translateX(0) translateY(0) rotate(4deg);
    }
  }

  @keyframes slidedown {
    0% {
      transform: translateX(0px) translateY(-500px);
    }
    100% {
      transform: translateX(0) translateY(0) rotate(-3deg);
    }
  }

  @keyframes slideright {
    0% {
      transform: translateX(-500px) translateY(-500px);
    }
    100% {
      transform: translateX(0) translateY(0) rotate(3deg);
    }
  }

  @keyframes tilt {
    0% {transform: rotate(0deg);}
    50% {
        transform: rotate(90deg) translateY(-33px);
    }
    70% {
        transform: rotate(90deg) translateY(-33px);
    }
    100% {transform: rotate(0deg);}
}

@keyframes small-tilt {
    0% {transform: rotate(0deg);}
    50% {
        transform: rotate(20deg) translateY(-8px);
    }
    80% {
        transform: rotate(20deg) translateY(-8px);
    }
    100% {transform: rotate(0deg);}
}


.--body_text {
    font-family: "Noto Sans Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 10px;
    letter-spacing: 2px;
    font-variation-settings:
      "wdth" 100;
  }


.--handwritten {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
    background-color: rgb(250, 249, 237);
    background-image: url(images/white-paper-texture-background.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.--title {
    font-family: "Special Elite", system-ui;
    font-weight: 400;
    font-size: 20px;
}

.label {
    background-color: rgb(26, 26, 26);
    color: rgba(255, 255, 255, 0.75);    
    width: max-content;
    -webkit-box-shadow: -1px 3px 5px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 3px 5px -2px rgba(0,0,0,0.75);
    box-shadow: -1px 3px 5px -2px rgba(0,0,0,0.75);
}

.label_text {
    margin: 10px 15px 5px 15px;
    letter-spacing: 5px;
}

.header {
    display: flex;
    gap: 20px;
    width: 100%;
    justify-content: center;
    position: absolute;
    top: 200px;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 50px;

    @media screen and (max-width: 450px) {
        flex-direction: column;
        top: 110px;
    }
}

.label:first-child {
    transform: rotate(3deg);
    animation: slideright 3s;
    animation-fill-mode: backwards;
}

.label:nth-child(2) {
    transform: rotate(-3deg);
    animation: slidedown 3s;
    animation-delay: 500ms;
    animation-fill-mode: backwards;
}

.label:nth-child(3) {
    transform: rotate(4deg);
    animation: slideleft 3s;
    animation-delay: 800ms;
    animation-fill-mode: backwards;
}

.card {
    -webkit-box-shadow: -1px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 3px 5px 0px rgba(0,0,0,0.75);
    box-shadow: -1px 3px 5px 0px rgba(0,0,0,0.75);
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 150px;
    padding: 20px;
    border-radius: 3px;
    align-items: flex-end;
    justify-content: space-between;
    margin: 0 auto;
    background-image: url(images/white-paper-texture.jpg);
    background-size: cover;
}

.card_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn {
    width: 26px;
    height: 26px;
    padding: 5px;
    background-position: center;
    margin-left: 15px;

    &:hover {
        cursor: pointer;
    }
}

.linkedin {
    background-image: url(images/linkedin-logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    flex-shrink: 0;
    animation: small-tilt 1s;
    animation-delay: 4500ms;
}

.github {
    background-image: url(images/github-logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    animation: small-tilt 1s;
    animation-delay: 5500ms;
}

.linkedin-selected {
    display: none;
    animation: slidein 2900ms;
    text-align: end;
}

.github-selected {
    display: none;
    animation: slidein 2900ms;
    text-align: end;
}
